:root{
    --background:#ffffff;
    --text-primary:#000;
    --text-secondary:#8e05c2;
    --accent:#8e05c2;
    --border:#000;
    --backgroundMenu:rgb(247, 244, 244);
}

[data-theme='dark']{
    --background:#000;
    --text-primary:#ffffff;
    --text-secondary:#8e05c2;
    --accent:#8e05c2;
    --border:#ffffff;
    --backgroundMenu:rgb(20, 20, 20);
}


.navbar-collapse{
    justify-content: center;
}

html{
    width: 100%;
    background-color: var(--background);
}

.menu{
    background-color: var(--backgroundMenu);
    color: var(--text-primary);
    display: block;
    text-align: center;
    transition: all .5s;
}

#textMenu{
    color: var(--text-primary);
}
.nav-link{
    color: var(--text-primary);
}

.title{
    color: var(--text-primary);
    font-size: 40px;
    font-family: 'Metal Mania', cursive;
}

.navbar-toggler{
    margin-left: 90px;
}


.card{
    background-color: var(--background) ;
    max-width: 300px;
    border: solid 5px #000;
    
}

.card-img-top{
    border:solid 25px;
    border-radius: 0;
}

.card-text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
}

